@charset "utf-8";
//dropdown meny 

header .top-banner{
  height: 130px;

}

header.sk-site .of-sidebar-menu-advanced ul ul {
  /*
    display: block !important;
    opacity: 0;
    */
}

header.sk-site .of-sidebar-menu-advanced ul ul.sub-menu-drop-down {
}

// clear overflows to allow position absolute to expand on header.
.of-sidebar-menu-advanced .of-sidebar-inner{
  overflow: inherit;
}

header.sk-site .of-sidebar-menu-advanced {
  z-index: 1001;
  overflow: inherit;
}

// chrome 

header.sk-site .of-sidebar-menu-advanced ul li a, 
header.sk-site .of-sidebar-menu-advanced ul li.of-active-ancestor a, 
header.sk-site .of-sidebar-menu-advanced ul li.of-active a {
  padding: 17px;
  border-bottom: 1px solid;
  border-color: transparent;
}

  header.sk-site .of-sidebar-menu-advanced ul li, 
  header.sk-site .of-sidebar-menu-advanced ul li.of-active-ancestor, 
  header.sk-site .of-sidebar-menu-advanced ul li.of-active{}
/*
body{
  &:not(.of-sidebar-menu-advanced-active) {
    header.sk-site .of-sidebar-menu-advanced ul li ul li.menu-item-has-children ul.sub-menu{
      display: none !important;
    }
  }
}
*/

/* of-screen-max-md */
@media (min-width: 52em) {

    header.sk-site .of-sidebar-menu-advanced ul li ul li.menu-item-has-children ul.sub-menu{
      display: none !important;
    }

}



.of-sidebar-menu-advanced-active{
  header.sk-site .of-sidebar-menu-advanced .of-sidebar-inner > ul > li.of-active-ascendant > a {
    color: inherit;
  }

  header.sk-site .of-sidebar-menu-advanced .of-sidebar-inner > ul > li.of-active-ascendant > a {
    background-color: inherit;
  }

}

ul ul.disable-sub-menu {
  display: none !important; // !important needed because the javascript automatically opens up active elements.
}

.of-has-children a span.icon-expand{
      display: none;

  }

p.of-paragraph-ingress {
    font-size: 1em;
    font-weight: 600;
    margin-top:  1em;
}

p{
  line-height: 1.3;
}

h1.sk-site-title{
  font-size: 1.9em;
}

.sk-box-type-bild p{
  font-weight: 600;
}

.sk-featured-image-single{
  margin-bottom: 1em;
}

.owl-carousel .text{
  width: 100%;
}

@media (min-width: 52em) {




//dropdown meny 
//.tribe-theme-child-sk-theme-pedagogiska-child header.sk-site .of-sidebar-menu-advanced {
.sk-dropdown-nav header.sk-site .of-sidebar-menu-advanced {

  
  .of-has-children a span.icon-expand{
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-left: 10px;
  }


  ul.sub-menu{
/*
    ul{
      display: block !important;
    }
    */
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 9999;
    display: none;


    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid #e7e7e7;

    
    li{
      width: 200px;
      display: block;
      
      border-radius: 0;

    }

    li.menu-item-has-children > a{
      font-weight: bold;
    }


    li a{
      background-color: #ffffff;
      color: #424242;
      display: block;
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid #e7e7e7;
    }

    ul{
      border: none;
      position: inherit;
      display: block !important;

    }

    ul li{
    }
    
    ul li a{
      padding-left: 20px;
      background-color: #ffffff;
    }    

    ul li ul li a{
      padding-left: 30px;
    }

    ul li ul li ul li a {
      padding-left: 40px;
    }
    

    .glyphicon,
    .of-expand{
      display: none;
    }

  }
}

}

/*
.sk-theme-svartvik header.sk-site .of-sidebar-menu-advanced ul li.of-active-ancestor a, 
.sk-theme-svartvik header.sk-site .of-sidebar-menu-advanced ul li.of-active a {
    background-color: #505D62;
}
*/

h1.sk-site-title a{
  margin: 20px 0;
  padding: 10px;
  //background-color: rgba(255, 255, 255, 0.85);
}


@media (min-width: 52em) {

   .sk-boxes > li.sk-box-width-2 {
    width: 49%;
    width: calc(50% - 1.125em - .1px);
}


  .sk-boxes>li.sk-box-width-2:nth-child(2n+1) {
    margin-left: 0em;
  }

  .sk-boxes > li.sk-box-width-3 {
    width: 32%;
    width: calc(33.4% - 1.125em - .1px);
    margin-left: 1.5em;
  }
  .sk-boxes > li.sk-box-width-4 {
    width: 24%;
    width: calc(25% - 1.125em - .1px);
  }

  .sk-boxes > li.sk-box-width-3:nth-child(3n+1) {
    margin-left: 0;
  } 

}

.has-sidebar-menu.has-sidebar-boxes .sk-entry-content  .sk-boxes > li.sk-box-width-2 {
    width: 49%;
    width: calc(50% - 1.125em - .1px);

  }
  .has-sidebar-menu.has-sidebar-boxes .sk-entry-content  .sk-boxes > li.sk-box-width-2:nth-child(2n+1) {
  margin-left: 0em;
  }

	.sk-boxes .of-grid-list li{
		list-style-type: none;
	}


.sk-item-type {
	border-radius: 2px;
	background-color: #eeeeee;
	padding: 2px 4px;
	font-size: 10px;
	color: #666666;
	margin-right: 5px;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}

/**
 * SK blogs
 */

.sk-blog-title .glyphicon {
  color: #cccccc;
  padding-right: 5px;
  margin-bottom: 10px;
}

.sk-blog-title a{

}


.sk-blog-info{

  img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .sk-blog-desc{
    padding: 5px 15px 15px 15px;
  }



}
.sk-sidebar-panel{
  .sk-sidebar-panel-row{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .sk-sidebar-panel-row:last-of-type{
    border-bottom: none;
  }
}

.list-blogs figure img{
  max-height: 100%;

}

/**
 * SK list blogs template
 */

.list-blogs figure img{
  max-height: 100%;

}



/**
 * SK articles
 */

.sk-article-panel-wrapper{
  h5{
    margin: 15px 0;
    padding-left: 3px;
  }

}

.sk-article-panel{
  background: rgba(206, 226, 185, 0.3) none repeat scroll 0 0;
  margin-bottom: 15px;
  padding: 10px 0;



  ul{
    line-height: 1.2;
  }
 
  .sk-article-panel-title{
    padding: 0px 15px;
    font-size: 17px;
    //background: $gronsta3;
    color: #485258;
  }

  .sk-article-panel-list{
    padding: 5px 15px;
    
  }

  .sk-article-panel-list a{
    font-size: 14px;
    font-weight: normal;
    padding: 3px 0px 10px;
    display: block;
  }


}

.sk-article-panel:last-of-type{
  border-bottom: none;
}

.sk-sidebar-panel{
  background: rgba(252, 197, 174, 0.1) none repeat scroll 0% 0%;
  border: 0px solid #e7e7e7;
  margin-bottom: 15px;
  padding: 10px 0;
  @include border-radius(0px);
  font-size: 14px;

 p{
  
  }
}
.sk-sidebar-panel-wrapper{
  h5{
    margin: 15px 0;
    padding-left: 3px;
  }

}
.sk-sidebar-panel-title{
  font-weight: normal;
  font-size: 17px;
  color: rgb(214, 76, 19);
  padding: 0px 15px 3px 15px;
}

.sk-sidebar-panel-list{
  padding: 5px 15px;
}
.sk-sidebar-panel-list a{
  font-size: 14px;
  font-weight: normal;
  color: #00477a;
  fill: #00477a;
 
}

.sk-blog-info.sk-sidebar-panel{
  padding: 0;
}

.sk-article-terms-title{
  float:left;
  padding-right: 5px;
}

.sk-article-terms{
  padding-top: 15px;
  //border-top: 1px rgba(182, 192, 198, 0.2) solid;
}





/* 
 *  Breadcrumbs
 */

.breadcrumbs{
  padding-top: 10px;
}

ul.of-breadcrumbs {


}
ul.of-breadcrumbs > li {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
ul.of-breadcrumbs > li:after {
  display: inline-block;
  content: '›';
  color: #c2c2c2;
  padding: 0 .2em 0 .4em;
}
ul.of-breadcrumbs > li:last-child:after {
  content: '';
}
ul.of-breadcrumbs > li a,
ul.of-breadcrumbs > li span {
  font-weight: normal;
  display: inline-block;
  padding: .3em 0;

}
ul.of-breadcrumbs > li span {
  color: #424242;

}
ul.of-breadcrumbs > li:first-child a {
  padding-left: 0;
}



/* of-screen-max-md */
@media (max-width: 52em) {

  .of-has-children a .glyphicon {
      display: none;
  }


  .of-sidebar-menu-advanced .of-sidebar-inner {
    overflow: auto;
  }


}


@media (min-width: 61.999999em) {
  .of-pull-2{
    left: 14em;
    position:relative;

  }

  .of-push-8{
    background-color: red;
    right: 43em;
    position:relative;
  }  
}

@media (max-width: 70em) {
  .of-inner-padded-rl{
    padding: 0;
  }  
}




/**/
.panel-white{
  background-color: #ffffff;
}


.tag{
  color: inherit;
}

.clear-float{
  clear: both;
}





.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
   margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
    -webkit-flex: 2;
    flex: 2;
}

